.element__text {
  color: #000000;
  font-size: 24px;
  background-color: white;
  font-weight: bold;
  width: 188px;
  border-radius: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

