.button__profile {
  width: 330px;
  height: 50px;
  background-color: #000000;
  border: solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.button_inactive {
  color: #b8b8b8;
  background: #ededed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 767px) {
  .button__profile {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
