.element__image {
  width: 282px;
  border-radius: 10px 10px 0px 0px;
  height: 282px;
  background: white;
}

.popup__image {
  max-width: 433px;
  max-height: 540px;
}

@media screen and (max-width: 767px) {
  .element__image {
    width: 288px;
  }
}
