.header__title {
  color: white;
  font-size: 45px;
  text-overflow: ellipsis;
}

@media screen and (min-width: 320px) {
  .header__title {
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 43px;
  }
}
