.form-container {
  background-color: white;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
  width: 330px;
  align-items: center;
  position: fixed;
}

@media screen and (max-width: 320px) {
  .form-container {
    max-width: 190px;
  }
}
