.title-place-error {
  margin-top: 40px;
  left: 75px;
  right: auto;
  width: 280px;
  color: red;
}

.link-place-error {
  position: absolute;
  margin-top: 40px;
  left: 75px;
  right: auto;
  width: 280px;
  color: red;
}

.ocupacion-error {
  position: absolute;
  margin-top: 40px;
  left: 75px;
  right: auto;
  width: 280px;
  color: red;
}

.nombre-error {
  position: absolute;
  margin-top: 40px;
  left: 75px;
  right: auto;
  width: 280px;
  color: red;
}
