.form {
  height: 330px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.form_is_closed {
  margin-top: 700px;
}

@media screen and (min-width: 320px) {
  .form {
    width: 288px;
  }
}
