.button__profile {
  width: 330px;
  height: 50px;
  background-color: #000000;
  border: solid white;
  color: white;
  border-radius: 10px;
}

.button_inactive {
  background-color: gray;
  color: white;
  border: 1px solid wheat;
}

span {position: absolute;margin-top: 40px;left: 75px;right: auto;width: 280px;}
@media screen and (max-width: 767px) {
  .button__profile {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
