.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  top: 0;
  background-color: transparent;
}

.popup__button {
  border-radius: 10px 10px;
  border: none;
  background: transparent;
  position: relative;
  bottom: 50px;
}

.popup__button:hover {
  cursor: pointer;
}

.popup__close {
  margin-left: -40px;
  border-radius: 10px 10px;
  border: none;
  background: transparent;
  margin-top: 10px;
}

.popup_show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.element__image-popup {
  width: 100%;
}

.popup__text {
  color: #000000;
  font-size: 24px;
  background-color: white;
  font-weight: bold;
  width: 188px;
  border-radius: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}